<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OLDSTUFF - EXCHANGING CENTRE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-57x57.html" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.html" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.html" />
    
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.custom.80910.js"></script>
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
</head>
<body>
    
    <!-- Header Start -->
	<header>

        <div class="container">
            <div class="row">
                <div class="span3">
                   	<div class="logo">
                    	<a href="index-2.html"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="span9">
                    <nav>
                    	<ul class="sf-menu" id="nav">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="#">Upload Item</a></li>
                            <li>
                                <li><a href="#">Category</a>
                                    <ul>
                                    	<li class=""><a href="about.html">Electronic</a>
                                            <ul>
                                                <li><a href="#">Television</a></li>
                                                <li><a href="#">Bluray player</a></li>
                                            </ul>
                                        </li>
                                        <li class=""><a href="services.html">Vehice</a>
                                            <ul>
                                                <li><a href="#">Car</a></li>
                                                <li><a href="#">Motobike</a></li>
                                                <li><a href="#">Bycicle</a></li>
                                            </ul> 
                                        </li>
                                        <li><a href="">Mobile phone</a></li>                                   
                                        <li><a href="">Digital</a></li>
                                        <li><a href="">Food</a></li>
                                        <li><a href="">Stationery</a></li>
                                        <li class=""><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </li>
                            <li><a href="#">User</a></li>
                            <li><a href="#">Signin</a></li>                   
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->  
    <!-- Gray Bar Start -->
    <div class="gray-bar">
    	<div class="container">
        	<div class="row">
            	<div class="span6">
                	<div class="social-icons">
                        <!--<ul>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="icon-google-plus"></i></a></li>                            
                            <li><a href="#" data-toggle="tooltip" title="Dribble"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Flickr"><i class="icon-flickr"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Youtube"><i class="icon-youtube"></i></a></li>
                        </ul>-->
                    </div>
                    <a href="index-2.html"><img src="images/slogan.png" alt=""></a>
                </div>
                <div class="span6 text-right">         	
                    <form class="search" method="post" action="#">
                        <label for="search-box">&nbsp;</label>
                        <input id="search-box" type="text" placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Gray Bar End -->
    
    <!-- Body Content Start -->
    <div class="body-content">
    	<div class="container">
        	<div class="row">                
                <!-- lastest item Start -->
                <div class="span text-center">
                	<h2 class="home-head">lastest items</h2>
                </div>
                <div class="span12">
                	<div class="portfolio-skin-carousel">
                        <div class="jcarousel-container jcarousel-container-horizontal">
                            <div class="jcarousel-clip jcarousel-clip-horizontal">
                                <ul class="portfolio-carousel jcarousel-list jcarousel-list-horizontal">
                                    <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-food"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>Production 1</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-laptop"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>Items 2</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-book"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>Items 3</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-book"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-tablet"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-rss"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-desktop"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-file"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 
                                        <li>
                                        <div class="span4">
                                            <div class="services-wrap">
                                                <div class="icon-wrap">
                                                    <i class="icon-phone"></i>
                                                </div>
                                                <div class="service-txt">
                                                    <h3>responsive layouts</h3>
                                                    <p>Nunc sit amet nisl ut ipsum auctor placerat ut at turpis. Phasellus gravida volutpat velit, a tempus neque consequat vel.</p>
                                                    <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </li> 

                                </ul>
                            </div>
                        </div>
                   	</div>
             	</div>
                <!-- Lastest item End -->

                <div class="span12">
                	<div class="divider1">
                    	divider
                    </div>
                </div>

                <!-- All item start-->
                    <div class="span text-center">
                        <h2 class="home-head">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAll  items&nbsp&nbsp&nbsp&nbsp&nbsp</h2>
                    </div>
                    <div class="">
                        <nav>
                            <ul class="sf-menu" id="nav">
                                <li><a href="">See all(420)</a></li>
                                <li><a href="#">Name</a></li>
                                <li><a href="">Date</a></li>
                                <li><a href="">Rating</a></li>
                            </ul>
                        </nav>
                    </div>


                    <div id="blog-home" class="span12">
                        <div class="show-grid row">
                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">User1-lenien</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_2.jpg" alt="">
                                    </div>
                                    <div class="port-txt skyblue-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Icome2kill</a></li>
                                        <li><i class="icon-calendar"></i> JUN 20, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_1.jpg" alt="">
                                    </div>
                                    <div class="port-txt orange-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Redmage0602</a></li>
                                        <li><i class="icon-calendar"></i> MAY 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_4.jpg" alt="">
                                    </div>
                                    <div class="port-txt gray-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="divider1">                           
                        </div>
                    </div>
                    <div id="blog-home" class="span12">
                        <div class="show-grid row">
                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">User1-lenien</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_3.jpg" alt="">
                                    </div>
                                    <div class="port-txt cyan-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Icome2kill</a></li>
                                        <li><i class="icon-calendar"></i> JUN 20, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_5.jpg" alt="">
                                    </div>
                                    <div class="port-txt gray-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Redmage0602</a></li>
                                        <li><i class="icon-calendar"></i> MAY 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_6.jpg" alt="">
                                    </div>
                                    <div class="port-txt orange-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="divider1">                           
                        </div>
                    </div>
                    <div id="blog-home" class="span12">
                        <div class="show-grid row">
                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">User1-lenien</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_7.jpg" alt="">
                                    </div>
                                    <div class="port-txt skyblue-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Icome2kill</a></li>
                                        <li><i class="icon-calendar"></i> JUN 20, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_8.jpg" alt="">
                                    </div>
                                    <div class="port-txt orange-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">Redmage0602</a></li>
                                        <li><i class="icon-calendar"></i> MAY 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_1.jpg" alt="">
                                    </div>
                                    <div class="port-txt blue-bg">
                                        <div class="extra-pad">
                                            <h3>Baku City</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="divider1"></div>
                    </div>

                    <div class="span12">
                        <div class="pagination">
                            <ul>
                                <li><a href="#"><i class="icon-angle-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="icon-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>                                        
                <!-- All item end-->             
            </div>
        </div>
    </div>
    <!-- Body Content End -->
    
    <!-- Footer Start -->
    <footer>
    	<div class="container">
        	<div class="row">
            	<div class="span3">
                	<h3>User</h3>
                    <ul class="bullets-style arrow-list">
                        <li><a href="#">My page</a></li>
                        <li><a href="#">Edit personal detail</a></li>
                        <li><a href="#">Edit account</a></li>
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Find user</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <h3>Categories</h3>                        
                    <ul class="bullets-style arrow-list">
                        <li><a href="#">Digital</a></li>
                        <li><a href="#">Electronic</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Paper</a></li>
                        <li><a href="#">Furniture</a></li>
                        <li><a href="#">Vehicle</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
                <div class="span3">
                	<h3>Quick Contact</h3>
                    <p><strong>Icum2Fill Center</strong> <br>
                    69/96 Thai Ha Str, Hanoi <br>
                    </p>
                     
                    Tel: (84) 915-214-550<br>
                    Fax: (043) 872-8805<br>
                    Email: <a href="#">support@anhCumKute.com</a>
                </div>
                <div class="span3">

                </div>
            </div>
        </div>
    </footer>
    <div class="copyrights">
    	<div class="container">
        	<div class="row">
            	<div class="span12 text-center">
                	Copyright © 2013 By OldStuff. All rights reserved.<br>
					Theme By <a href="#">Vtproduction</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <p id="back-top" style="display: none;">
        <a href="#top"><i class="icon-angle-up"></i></a>
    </p>
	
    
    <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>
    <script type='text/javascript' src='js/vendor/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src="js/vendor/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type='text/javascript' src="js/vendor/tinynav.min.js"></script>
    <script type="text/javascript" src="js/vendor/superfish.js"></script>
    <script type="text/javascript" src="js/vendor/jcarousel.js"></script>
    <script type="text/javascript" src="js/vendor/isotope.js"></script>
    <script type="text/javascript" src="js/vendor/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.carouFrcedSel.html"></script>
    <script type="text/javascript" src="js/vendor/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.validate.js"></script>
    
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
		$(window).bind("load", function() {
			$(document).ready(function() {
				$('#flexslider-loader').fadeOut(800);
				$('#header-slider').flexslider({
					animation: "slide",
					controlNav: true,
					smoothHeight: true,
					directionNav: true,
					slideshowSpeed: 5000,          
					direction: "vertical",
					animationDuration: 5000,
					nextText:"&rsaquo;",
					prevText:"&lsaquo;",
					keyboardNav: true,
					easing: 'easeInOutBack',
					useCSS: false,	
					 controlsContainer: '.flex-container'
				});
				
				$('#second-slider').flexslider({
					animation: "slide",
					animationLoop: false,
					itemWidth: 140,
					controlNav: true,
					directionNav: false,
					move: 3,
					itemMargin: 5,
					maxItems: 5,
					
				});
			});	
		});
	</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>		
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='../../www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
