<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OLDSTUFF - EXCHANGING CENTRE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-57x57.html" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.html" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.html" />
    
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.custom.80910.js"></script>
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
</head>
<body>
    
    <!-- Header Start -->

    <!-- Header End -->    

    
    <!-- Body Content Start -->
    <div class="body-content">

    	<div class="container">
            <div class="head-style1">
                <h2>Advanced search</h2>
            </div>
        	<div class="row">              
                <div class="span7 text-left">          
                    <form class="search" method="post" action="#">
                        <input id="search-box" type="text" placeholder="Search..." style="width:515px;">
                    </form>
                </div>
                <div class="span5">
                    <select class="search-dropdown">
                        <option>Electronics</option>
                        <option>Motorbike</option>
                        <option>Cellphone</option>
                    </select>
                </div>
                <div class="divider1"></div>
                <div class="span">
                    <input id="checkbox" class="css-checkbox" type="checkbox" />
                    <label for="checkbox" class="css-label">Name</label>
                </div>
                <div class="span">
                    <input id="checkbox2" class="css-checkbox" type="checkbox" />
                    <label for="checkbox2" class="css-label">Description</label>
                </div>
                <div class="span">
                    <input id="checkbox3" class="css-checkbox" type="checkbox" />
                    <label for="checkbox3" class="css-label">User</label>
                </div>
                <div class="span">                    
                    <input id="checkbox4" class="css-checkbox" type="checkbox" />
                    <label for="checkbox4" class="css-label">Trade with</label>  
                </div>                             
 
            </div>

            <div class="divider1"></div>
                <div class="head-style1">
                    <h2>Edit your item</h2>
                </div>

                    <div id="blog-home" class="span12">
                        <div class="show-grid row">
                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">User1-lenien</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_2.jpg" alt="">
                                    </div>
                                    <div class="port-txt skyblue-bg">
                                        <div class="extra-pad">
                                            <h3>Iphone 5s 98%</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4" >
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">User1-lenien</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_2.jpg" alt="">
                                    </div>
                                    <div class="port-txt skyblue-bg">
                                        <div class="extra-pad">
                                            <h3>Iphone 5s 98%</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="date-wrap">
                                    <ul>
                                        <li><i class="icon-user"></i> <a href="#">iphoneSeller</a></li>
                                        <li><i class="icon-calendar"></i> JUN 27, 2013</li>
                                    </ul>
                                </div>
                                <div class="port-wrap">
                                    <div class="hover-mask"><a rel="prettyPhoto[portfolio1]" href="images/portfolio/image_1.jpg">    <i class="icon-plus"></i></a></div>
                                    <div class="port-img">
                                        <img src="images/portfolio/image_2.jpg" alt="">
                                    </div>
                                    <div class="port-txt skyblue-bg">
                                        <div class="extra-pad">
                                            <h3>Ipad 4 16Gb 3G</h3>
                                            <p class="box">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula. Morbi sollicitudin leo id nisl elementum sit amet venenatis ante malesuada. Donec sed odio dui.</p>
                                            <a class="my-btn btn-small btn-border" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                              
                        </div>
                    </div>          
        </div>
    </div>
    <!-- Body Content End -->
    
    <!-- Footer Start -->

    <!-- Footer End -->
    
    <p id="back-top" style="display: none;">
        <a href="#top"><i class="icon-angle-up"></i></a>
    </p>
	
    
    <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>
    <script type='text/javascript' src='js/vendor/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src="js/vendor/jquery.plugins.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type='text/javascript' src="js/vendor/tinynav.min.js"></script>
    <script type="text/javascript" src="js/vendor/superfish.js"></script>
    <script type="text/javascript" src="js/vendor/jcarousel.js"></script>
    <script type="text/javascript" src="js/vendor/isotope.js"></script>
    <script type="text/javascript" src="js/vendor/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.carouFrcedSel.html"></script>
    <script type="text/javascript" src="js/vendor/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.validate.js"></script>
    
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
		$(window).bind("load", function() {
			$(document).ready(function() {
				$('#flexslider-loader').fadeOut(800);
				$('#header-slider').flexslider({
					animation: "slide",
					controlNav: true,
					smoothHeight: true,
					directionNav: true,
					slideshowSpeed: 5000,          
					direction: "vertical",
					animationDuration: 5000,
					nextText:"&rsaquo;",
					prevText:"&lsaquo;",
					keyboardNav: true,
					easing: 'easeInOutBack',
					useCSS: false,	
					 controlsContainer: '.flex-container'
				});
				
				$('#second-slider').flexslider({
					animation: "slide",
					animationLoop: false,
					itemWidth: 140,
					controlNav: true,
					directionNav: false,
					move: 3,
					itemMargin: 5,
					maxItems: 5,
					
				});
			});	
		});
	</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>		
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='../../www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
