@model Structured_Programming.Models.SearchResultModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;

<div class="body-content">
    <div class="container">
        @Html.Partial("/Views/Shared/_AdvancedSearchForm.cshtml", Model.CurrentOptions)
        

        <div class="row">
            @Html.Partial("/Views/Shared/_ListItems.cshtml", Model.Items)
            <div class="span12">
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("Index", new { page, Query = Request["Query"], InclUser = Request["InclUser"], InclDescription = Request["InclDescription"], InclTrade = Request["InclTrade"], InclName = Request["InclName"], TypeId = Request["TypeId"] }))
                </div>
            </div>
        </div>
    </div>
</div>
