.contact_form label {
    font-weight: 600;
    color: rgb(102, 102, 102);
    margin: 8px 0px;
}

.contact_form .send-btn {
    padding: 12px 24px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none;
    color: #FFF;
    margin-top: 20px;
    position: relative;
    font-weight: 600;
    background: #f1442b;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0px;
    width: 150px;
}
.contact_form .send-btn:hover {
    background:#9098a5;
    color:#FFF;
}
.contact_form input, .contact_form textarea{
    color: rgb(102, 102, 102);
    padding: 12px 8px;
    background: none repeat scroll 0% 0% rgb(59, 59, 59);
    margin-bottom: 5px;
    border: medium none;
    border-radius: 0px 0px 0px 0px;
    font-size: 14px;
    color: #fff;
}

.contact_form textarea {
    width: 480px;
    height: 150px;
    resize:vertical;
}