
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="body-content">
        <div class="divider1"></div>
        <div class="container">
        <div class="head-style1">
            <h2>Contact us </h2>
        </div>
            </div>
            <iframe width="100%" scrolling="yes" height="600" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=%C4%91%E1%BA%A1i+h%E1%BB%8Dc+b%C3%A1ch+khoa+h%C3%A0+n%E1%BB%99i&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=44.793449,86.572266&amp;ie=UTF8&amp;hq=%C4%91%E1%BA%A1i+h%E1%BB%8Dc&amp;hnear=B%C3%A1ch+Khoa,+Hai+B%C3%A0+Tr%C6%B0ng,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;ll=21.005997,105.842974&amp;spn=0.00648,0.010568&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8084206151256861954&amp;output=embed" marginwidth="0" marginheight="0" class="map"></iframe>
</div>
