@model Structured_Programming.Models.HomeIndexModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Home</h1>
                
            </hgroup>
            <table>
                <tr>
                    <th>Top users</th>
                    <th>Newest items</th>
                </tr>
                @for (int i = 0; i < Model.NewestItems.Count() ; i++) 
                {
                    var user = Model.TopUsers.ElementAtOrDefault(i);
                    var item = Model.NewestItems.ElementAtOrDefault(i);
                    <tr>
                        <td>
                            @if (user != null)
                            {
                            @Html.ActionLink(user.UserName, "Details", "Account", routeValues: new { id = user.UserId }, htmlAttributes: new { id = user.UserId })
                            }
                        </td>
                        <td>
                        @if (item != null) {
                            @Html.ActionLink(item.Name, "Details", "Item", routeValues: new { id = item.ItemId }, htmlAttributes: new { id = item.ItemId })
                        }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
