@model Structured_Programming.Models.ItemIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="body-content">
    <div class="container">
        <div class="row">
            @Html.Partial("/Views/Shared/_ListItems.cshtml", Model.Items)
            <div class="span12">
                <div class="pagination">
                    @Html.PagedListPager((IPagedList)Model.Items, page => Url.Action("Index", new { typeId = Request["TypeId"], page }))
                </div>
            </div>
        </div>
    </div>
</div>
