@model Structured_Programming.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="body-content">
    <div class="container">
        <div class="divider1"></div>
        <div class="span12-no-margin">
        <div class="head-style1">
            <h2>Change your password</h2>
            <br />
            <h3>You are logged in as <strong>@User.Identity.Name</strong>.</h3>
        </div>

        <div class="divider1"></div>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
        </div>
    </div>
</div>
